<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Suplex.Security.Core" version="1.0.18291" targetFramework="net461" />
  <package id="Suplex.Security.FileSystemDal" version="1.0.18292" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="5.2.1" targetFramework="net461" />
</packages>